<center>
<table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
  <tbody>
    <tr>
      <td bgcolor = "#ff6600"  class="tda">
         <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody >
            <tr>
               <td style="width:18px; padding-right:4px"  class="tda">
                 <a href="https://www.youtube.com/watch?v=PwbqAJKNdXo">
                   <img src="/y18.gif" style="border:1px white solid;"
                   width = "18" height = "18" >
                 </a>
                </td>
                <td style = "line-height:12pt; height:10px;"  class="tda">
                  <span class="pagetop">
                    <div style="display: inline-block;">
                      <b class="hnname"><a href=<%=index_submit_path%>>Hacker News</a></b>
                     <a  style="color: black"href=<%=newest_submit_path%>>new</a> | 
                     </div>
                     <% if session[:user_name]%>
                      <a href="/comentaris">threads</a>
                    <% else %>
                      <div style="display: inline-block">
                        <%= button_to "threads", '/auth/google_oauth2', form_class: "submit-button" %>
                      </div>
                    <% end%>
                    <div style="display: inline-block;">
                      | <a style="color: black">past</a> | <a style="color: black">comments</a> | <a style="color: black" href=<%=ask_submit_path%>>ask</a> | <a style="color: black">show</a> | <a style="color: black">jobs</a> |
                     </div>
                    <% if session[:user_name]%>
                      <a href=<%= new_submit_path %>>submit</a>
                    <% else %>
                      <div style="display: inline-block">
                        <%= button_to "submit", '/auth/google_oauth2', form_class: "submit-button" %>
                      </div>
                    <% end%>
                    <div style="display: inline-block;">
                      <div style="display: inline"> | </div>
                      <p style="display: inline; color: white; margin: 0"><%= @user.name + '\'s comments' %></p>
                    </div>
                  </span>
                </td>
                <td style="text-align:right;padding-right:4px;"  class="tda">
                  <span class="pagetop">
                    <% if session[:user_name]%>
                  <a href=<%= "/users/" + session[:user_id].to_s %>> <%= session[:user_name] + " ("  + session[:user_karma].to_s + ")"%> </a>
                  <p style="display: inline"> | </p>
                  <a style="display: inline" href=<%= logout_path %>>logout</a>
                    <% else %>
                      <%= button_to "login", '/auth/google_oauth2', form_class: "login-button" %>
                    <% end%>
                  </span>
                </td>
            </tr>
            </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
          <tbody>
            <%
            @comment = @comment.to_a
            arrOffsets = Array.new(@comment.size, 0)
            %>
             <% for i in 0..@comment.length-1%>
             <tr class="athing comtr" id="<%=@comment[i].id%>">
               <td>
                <table border="0">  
                  <tbody>
                    <tr>
                      <td class="default">
                        <div style="margin-top:2px; margin-bottom:-10px; display:flex">
                           <% if session[:user_email]%>
                      <% if  @comment[i].user_id == session[:user_id] %>
                        <center><div style="color: #ff6600">*</div></center>
                      <% elsif !@current_user_likes_comment.exists?(comentari_id: @comment[i].id) %>
                          <center><a rel="nofollow" data-method="put" href=<%= "/comentaris/" + @comment[i].id.to_s + "/upvote_comment_update"%>><div class="votearrow" title="upvote"></div></a></center>
                      <% else %>
                          <a rel="nofollow" data-method="put" href=<%= "/comentaris/" + @comment[i].id.to_s + "/upvote_comment_update"%>><div class="votearrow" style="transform: rotate(180deg);" title="upvote"></div></a>
                      <% end %>
                      <% end %>
                          <span class="comhead" style="margin-left:5px">
                            <a class="hnuser"><%=User.find(@comment[i].user_id).name%></a> 
                            <span class="age">
                              <a><% time = (Time.now() - @comment[i].created_at) %>

                              <% if time < 3600 %>
                                <a ><%= (time/60).round %> minutes ago</a>   
                              <% end %>

                              <% if time >= 3600 && time < 3600*24 %>
                                  <a ><%= (time/3600).round %> hours ago</a>  
                              <% end %>

                              <% if time >= 3600*24 %>
                                  <a><%= (time/(3600*24)).round %> days ago</a>  
                              <% end %> </a>
                            </span> 
                            <span>
                             on: <a href= <%= "/submits/" + @comment[i].postID.to_s %>> <%= @comment[i].respondsToId != 0 ? Comentari.find(@comment[i].respondsToId).text : Submit.find(@comment[i].postID).title %> </a> 
                            </span>
                            <span class="par"></span> 
                         
                            <span class="storyon"></span>
                          </span>
                        </div>
                        <div class="comment">
                          <span class="commtext c00"><%= simple_format(@comment[i].text)%>
                            <div class="reply">        
                              
                                <font size="1">
                                  <u><a href="/comentaris/<%=@comment[i].id%>">reply</a></u>
                                </font>
                              </br>
                            </div>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </tr>
             <% end %>
          </tbody>
        </table>
        
      </td>
    </tr>
  </tbody>
</table>
</center>
